@charset "UTF-8";

* {
    
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(95deg, #F6C8B8, #F69C9E);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a3696a98;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F9D59B;
    text-align: center;
    text-shadow: 1px 1px 2px #8d7958a9;
}

h2 {
    color: #909B71 ;
    text-shadow: 1px 1px 2px #4f553e80;
}



p {
    text-align: justify;
}